.navlink {
    font-size: medium;
    color: #a4c100;
    border-radius: 5px;
    
  }

  .nav-text {
    font-size: medium;
    color: #a4c100;
    align-self: center;
    border-radius: 5px;
    
  }